body, a, h1, h2, h3, p, li, ul{
    margin: 0;
    padding: 0;
    
}





*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ion-icon {
    color: blue;
}

header {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
    background: #fff;
}

nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        li{
            & + li {
                margin-left: 10px;
            }
            a{
                 color: orange;
            }
        }
    }
}

.menu-icon{
    display: none;
}
.img-cart{
    img{
        width: 30px;
    }
}

.carrinho {
    position: relative;
    .hoverCart{
        visibility: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid #000;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 20px 30px;
        h2{
            color: #000;
        }
        a {
            display: block;
            margin-top: 16px;
            color: orangered;
        }
    }
}

.ativarPopup{
    visibility: visible !important;
}



/* MOBILE*/

@media (max-width: 600px){
    header{
        justify-content: space-between;
        align-content: center;
        overflow-x: hidden;
        width: 100%;

    }

    nav {
        .menu-icon{
            position: relative;
            display: block;
        }
        .menu{
            display: block;
            visibility: hidden;
            position: absolute;
            flex-direction: column;
            width: 100%;
            top: 60px;
            right: 0;
            transition: .5s;
            z-index: 1000;
            overflow-x: hidden;


            li{
                a{
                    display: block;
                    padding: 5px;
                    color: turquoise;
                }
                & + li {
                    margin-left: 0;
                }
            }
        }
    }
    .img-cart{
        display: none;
    }
}

.ativo {
    visibility: visible !important;
}

